body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    background-color: #111; 
    color: #eee;
}

header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none; /* removes the bullet points */
    padding: 0;
    margin: 0; /* resets any default margins */
    display: flex; /* starts as horizontal layout */
    flex-direction: column; /* switches to vertical layout */
}

nav li {
    margin-bottom: 15px; /* adds space between the items */
}

nav a {
    color: #999;
    text-decoration: none;
    display: block; /* makes the link fill the space of its list item */
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background-color: #111; 
    overflow-x: hidden;
    transition: width 0.5s; 
    padding-top: 60px;
    border: 1px solid cadetblue; 
}

.main-content {
    transition: margin-left 0.5s; 
}

.sidenav.open {
    width: 250px; 
}

.main-content.open {
    margin-left: 250px;
} 

.hamburger-icon {
    position: absolute; /* Or fixed, depending on your layout needs */
    left: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 3; /* Ensure it's above other elements */
}
